# emp_attr_model/requirements.txt
# kserve==0.10.0  # Match your KServe version
# pandas==2.1.4
# numpy==1.26.0
# sklearn
# scikit-learn==1.5.1
kserve
pandas
numpy>=1.26; python_version >= "3.13"
numpy==1.23.5; python_version < "3.13"
scikit-learn
