# .env
AZURE_ENDPOINT=<http://your-azure-resource>
AZURE_API_KEY=<your-api-key-from-azure>

AZURE_CHAT_DEPLOYMENT=<gpt-model>
OPENAI_API_VERSION=<gpt-model-version-date-on-azure>

AZURE_EMBEDDING_DEPLOYMENT=<embedding-model>
AZURE_EMBEDDING_VERSION=<embedding-model-version-date-on-azure>
