.container {
    width: 100%;
}

input {
    border: 1px solid lightgrey;
    padding: 10px 15px;
}

.chatbot-messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: #fff;
}

.chatbot-welcome {
    text-align: center;
    color: #666;
    word-spacing: 1px;
}

.message {
    margin-bottom: 20px;
}

.message.user {
    text-align: right;
}

.message.bot {
    text-align: left;
}

.message-content {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 18px 18px 2px;
    max-width: 95%;
}

.message.user .message-content {
    background-color: #d2d3d4;
    color: a1a1a1;
}

.message.bot .message-content {
    width: 100%;
}

.message-details {
    font-size: 13px;
    margin-top: 10px;
    padding: 10px;
}

.message-details button {
    background-color: none;
    border: none;
    margin-bottom: 10px;
    padding: 5px 15px;
}

.message-details button:hover {
    background-color: #e2e2e3;
    cursor: pointer;
    font-weight: 500;
}

.active {
    display: block;
    color: #555;
    background-color: #ebebeb;
}

.not-active {
    display: none;
}

.message-details ul {
    padding-left: 20px;
    margin: 5px 0;
}

.tokens {
    display: flex;
    justify-content: space-evenly;
}

.token-container .token-img {
    margin-right: 5px;
}

.token-container strong {
    margin-left: 5px;
}

.sources {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.sources li {
    background-color: #d3d3d3;
    color: #333;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 500;
}

.chatbot-form {
    display: flex;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.chatbot-form input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
}

.chatbot-form button {
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    border-radius: 0 4px 4px 0;
    border: none;
    cursor: pointer;
}

.chatbot-input button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* code */
.code-container {
    margin: 10px 0;
}

.code-language {
    padding: 0.5rem 1rem; 
    border-radius: 4px 4px 0 0;
    display: 'inline-block';
    font-family: monospace;
    background-color: rgb(245, 242, 240);
    color: #333;
}

.copy {
    float: right;
    border: none;
    cursor: pointer;
}
.copy:hover {
    background-color: #d3d3d3;
}

.code-highlighter {
    clear: both;
    margin: 0 !important;
}